<h3 style="text-align: center">Product List</h3>

<div class="row mt-2">
  <div class="col col-md-4 offset-md-4">
    <button class="btn btn-primary" routerLink="/New" style="border-color: rgba(229, 255, 0, 0.801);">Create</button>
  </div>
</div>
<head>
<style>
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 20px;
}
tr{
  border-bottom: 2px solid black;
}
.thead-dark{
  border-bottom: 2px dark black;

}

</style>
</head>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of productList">
        <th scope="row">{{ pro.id }}</th>
        <td>{{ pro.pname }}</td>
        <td>{{ pro.price }}</td>
        <td>
          <button
            type="button"
            class="btn btn-warning"
            [routerLink]="['/Edit', pro.id]"
          style="background-color: aqua;">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
