<p>doctor-list works!</p>
<div class="container mt-5">
    <h2>Doctor List</h2>
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Search doctors..."
      [(ngModel)]="searchText"
    />
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let doctor of doctors | search : searchText"
        [ngStyle]="{
          'background-color': doctor.experience > 10 ? 'Lightblue' : 'lightgrey' 
        }"
      >
        <h5>{{ doctor.name }}</h5>
        <p>Specialization: {{ doctor.specialization }}</p>
        <p>Experience: {{ doctor.experience }} years</p>
      </li>
    </ul>
  </div>