<header>
    <style>
      .container {
    
         border: 5px solid black;
         padding: 20px;
         width: 550px;
      }
    </style>
    </header>
    <div class="container" >
      <div style="height:50px; background-color:rgb(251, 255, 0);">
        <h3 style="color:rebeccapurple; text-align: center; font-weight: bold;" >Log-In</h3>
        </div>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" style="color: blue; font-weight: bold; font-size: 20px;">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            style="width: 500px;">
            <span id ="emailHelp" style="   color: blue; height: 30px;">We will never share you email with anyone others.</span>
          </div>
          <div class="form-group">
            <label id="exampleInputPassword1" style=" color: rgb(47, 0, 255); font-weight: bold; font-size: 20px;">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            style="width: 500px;">
         
            <span  style="  color: blue; height: 30px;">Your password is secured.</span>
            </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">login</button><br /><br />
          <div class="form-group">
            <a href="#" class="btn btn-warning">forgot password?</a>
            <a href="#" class="btn btn-dark">Sign-up</a>
          </div>
        </form>
      </div>
      
    

<!-- <div class="container">
    <h3>Log-In</h3>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">login</button><br><br>
        <div class="form-group">
            <a href="#" class="btn btn-warning">forgot password?</a>
            <a href="#" class="btn btn-dark">Sign-up</a>
        </div>
    </form>
</div> -->
